<style>

.full-width-line {
  border: none; /* Remove default border */
  border-top: 1px solid black; /* Add a solid black top border */
  width: 100%; /* Make it stretch across the entire page */
  margin: 1% 1%; /* Add some space above and below for visual clarity */
}

/* Fonts and global styles */
body {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  color: #2f2f2f;
  background-color: #f9f7f1;
}

header {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  text-align: left;
  padding:2%;
}

a {
  text-decoration: none;
  color: #333;
}

div.screenshot{

	border-style: dashed;
	background-color: #16161d;
	color:white;
	padding:2%;
	font-family: "Courier Prime", monospace;
	text-shadow: 0px 0px 1px #ffffff;
}

div.heading1{

	text-align: left;
	padding: 2%; 
	font-family: "Source Serif Pro", serif;
	font-weight: bold;
}

div.heading2{

	text-align: left;
	padding: 2%; 
	font-family: "Playfair Display", serif;
	font-weight: bold;
}

div.strategy{

	border-style: dashed;
	background-color: white;
	color:black;
	padding:2%;
	font-family: "Courier Prime", monospace;
	text-shadow: 0px 0px 1px #333333;
}


/* Heading levels */
.headline {
  text-align: center;
  line-height: normal;
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 0 auto;
}

/* Specific heading styles (consider using classes for better organization) */
.hl1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.hl2 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

/* ...and so on for other heading levels */

/* Images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Navigation bar */
.navbar {
  background: #333;
  padding: 12px;
  color: #333333;
a {
  color: #fff; /* Set text color to white */
  padding: 12px;
}
}

/* ...dropdown styles */

/* Structural elements */
.head {
  text-align: center;
  position: relative;
}

.headerobjectswrapper { /* Consider a more descriptive class name */
  /* ... */
}

.weatherforcastbox { /* Consider a more descriptive class name */
  /* ... */
}

.content {
  font-size: 0; /* Is this intentional? */
  line-height: 0;
  word-spacing: -.31em;
  display: inline-block;
  margin: 30px 2% 0 2%;
}

.collumns {
  /* ... */
}

.collumn {
  /* ... */
}

/* Media queries (consider using a prefix for better organization) */
@media only all and (max-width: 1300px) {
  /* ... */
}

</style>
